footer {
    background: var(--main-color);
    padding: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .footer-left img {
    width: 20rem;
    mix-blend-mode: color-dodge;
    filter: brightness(0) invert(1);
  }
  
  .footer-center {
    text-align: left;
  }
  
  .footer-center h3 {
    color: #e4e4e4;
    margin-bottom: 10px;
  }
  
  .footer-center a {
    display: block;
    text-decoration: none;
    color: #dfdfdf;
    font-size: 14px;
    padding: 2px;
    margin: 8px 0;
    border: 2px solid transparent;
  }
  
  .footer-center a:hover {
    border-bottom: 2px solid var(--text-color);
    transition: 0.3s;
  }
  
  .footer-right {
    text-align: left;
  }
  
  .footer-right p {
    font-size: 14px;
    color: #d3d3d3;
    margin: 8px 0;
  }
  
  .footer-right a {
    text-decoration: none;
    color: #e6e6e6;
  }

  .footer-right a:hover {
    border-bottom: 2px solid var(--text-color);
    transition: 0.3s;
  }
  
  .footer-bottom {
    text-align: center;
    padding: 10px;
    font-size: 12px;
    color: #666;
    border-top: 1px solid #ccc;
    margin-top: 20px;
  }

  /* Ajustes para telas menores */
@media (max-width: 768px) {
    
      footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    
      .footer-left img {
        width: 12rem;
      }
    
      .footer-center,
      .footer-right {
        text-align: center;
      }

      .footer-right li {
        margin: 15px;
      }
    }
    
    @media (max-width: 480px) {
    
      .footer-left img {
        width: 15rem;
        margin-bottom: 30px;
      }
      .footer-center a {
        font-size: 15px;
      }
      .footer-right p {
        font-size: 15px;
        margin: 10px;
      }
      .footer-bottom {
        font-size: 12px;
      }
    }