@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 4rem;
  list-style: none;
  text-decoration: none;
}

:root {
  --main-color: #ee2525;
  --second-color: #fcca66;
  --text-color: #fff;
  --bg-color: #1e1c2a;
  --hover-color: #470909;
  /* sombra */
  --box-shadow: 2px 2px 10px 4px rgb(14 55 54 / 15%);
}

html {
  scroll-behavior: smooth;
}

section {
  padding: 50px 100px;
}

/* img */
img {
  width: 100%;
}

/* Section inicio */

.container {
  padding-top: 9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content img {
  width: 50%;
}

.container p {
  width: 70%;
  margin-top: 2rem;
}

.imgCoffee {
  float: right;
  width: 90%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.explorarBtn {
  background-color: var(--main-color);
  color: var(--text-color);
  font-size: 1.3rem;
  margin-top: 2rem;
  text-align: center;
  width: 222px;
  padding: 16px;
  border-radius: 45px;
  transition: .3s all linear;
}

.explorarBtn:hover {
  transition: .3s all linear;
  background-color: var(--hover-color);
}

/* Faixa */
.faixa {
  background-image: url('../assets/faixa.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 12rem;
  margin-top: 90px;
  margin-bottom: 3rem;
}

/* acessorios */
.acessorios h1 {
  color: var(--main-color);
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  margin: 4rem;
}

